/shelf/
/workspace.xml
*.class
*.jar
*.iml
*.idea/
out/
ProgrammingByDoing/.idea/
ProgrammingByDoing/out/
ProgrammingByDoing/ProgrammingByDoing.iml

Exercises/ProgrammingByDoing/.idea/
Exercises/ProgrammingByDoing/out/production/ProgrammingByDoing/
Exercises/ProgrammingByDoing/ProgrammingByDoing.iml